.Photo-div {
    margin: auto;
    width: 50%;
    border: black;
    padding: 10px;
}

.names-div {
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
}
.Favorites-div .Hobbies-div .Childhood-dream-div {
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
}
